@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body, textarea, select {
    background-color:#0a0a23;
    color:#f5f6f7;
    font-family: "Roboto Mono";
}

header {
    text-align: center;
}

form {
    width: 800px;
    margin: 1em auto;
}

fieldset {
    border: none;
    border-bottom: 3px solid  #3b3b4f;
    padding-bottom: 2rem;

}
input[type="text"], 
input[type="number"], 
input[type="email"] {
    width: 100%;
    margin:10px 0 10px 0;
    height:2em;
    font-family: "Roboto Mono";
}
input[name="Submit"] {
    margin: 1em auto;
    text-align: center;
    width: 60%;
    padding: 10px 10px;
    text-align: center;
    display: block;
    background-color:#3b3b4f;
    color: #ffffff;
    font-size:1rem;
}
.block {
    display: block;
}
fieldset:last-of-type {
    border: none;
}

textarea {
    
}
#number {
    margin-top: 0;
}